// @mixin for-size($size){
//     @if $size == ()
// }
@import './reset';
$box-padding: 15px;
$drop-shadow: (rgba(0,0,0,.4) 0px 5px 5px);
$button-hover: #102542;

:root{
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    background-color:hsl(29, 58%, 21%);
    background-color: #9C6F44;
    background-color: #CDD7D6;
    background-image: url('../ooorganize.svg');
    color:#271300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import './buttons';
@import './timerContainer';
@import './stopwatch';